@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Add this to position children absolutely */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 1.5em;
  color: #1ed760;
  margin-bottom: 0.5em;
}

input,
select,
button {
  margin: 0.3em;
  padding: 8px;
  border: none;
  border-radius: 8px;
  font-size: 0.9em;
}

input,
select {
  width: 60%;
  max-width: 300px;
  background-color: #484848;
  color: #fff;
}

#loginButton,
button {
  background-color: #1ed760;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

#loginButton:hover,
button:hover {
  background-color: #1db954;
}

button {
  width: 30%;
  min-width: 100px;
  margin-left: 5px;
}

#trackList {
  background-color: #181818;
  color: #fff;
  width: 100%;
  max-height: 200px;
  margin: 0.5em 0;
  padding: 8px;
  border-radius: 8px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #1ed760;
  border-radius: 8px;
  border: 2px solid black;
}

@media (max-width: 768px) {
  .container {
    width: 80%;
    max-width: 300px;
    padding: 1em;
  }

  input,
  select,
  #trackList,
  #loginButton,
  button {
    width: 80%;
  }
}

#logoutButton {
  position: fixed;
  top: 45px;
  right: 75px;
  background-color: #e0245e;
  color: white;
  border: none;
  padding: 10px 17px; /* Reduced padding for a more compact button */
  width: auto; /* Ensure it's only as wide as the text */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 1000;
}

#logoutButton:hover {
  background-color: #b81d4a;
}
